version: "5.0.0"

services:
  database_ignite:
    image: postgres
    container_name: database_ignite
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=ignite
      - POSTGRES_DB=autoshift
  app:
    build: .
    container_name: autoshift
    ports:
      - "3333:3333"
    volumes:
      - ./:/usr/app