<style>
    .container {
        font-family: Arial, sans-serif;
        color: #333;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span {
        margin-bottom: 15px;
        font-size: 16px;
    }
    img {
        width: 200px;
        margin-bottom: 20px;
    }
</style>



<div class="container">
    <img src="https://autoshiftmexico.com/wp-content/uploads/2025/08/AutoShiftFondobco.png" alt="">
    <span>Oi, {{name}}</span>

    <br />
    <span>Você solicitou a recuperação de senha.</span>
    <span>Para redefinir sua senha, clique no link abaixo:
        <br />
        <a href="{{link}}">{{link}}</a>
    </span>
    <span>Caso não tenha solicitado a recuperação de senha, por favor, ignore este e-mail.</span>
    <strong>Obrigado!</strong>
    <h3>Equipe | Auto Shift</h3>
</div>